# -*- coding: utf-8 -*-

TWITTER_ACCESS_TOKEN = ""
TWITTER_ACCESS_TOKEN_SECRET = ""
TWITTER_CONSUMER_KEY = ""
TWITTER_CONSUMER_SECRET = ""

RDIO_API_KEY = ""
RDIO_SHARED_SECRET = ""

IMGUR_CONSUMER_KEY = ''
IMGUR_CONSUMER_SECRET = ''
IMGUR_ACCESS_TOKEN = ''
IMGUR_ACCESS_TOKEN_SECRET = ''
